<ul class="links-menu">
    <li>
{#        <a href="{% url 'all_products:category' pk=0%}">#}
            все
        </a>
    </li>
    {% for link in links_prodMenu %}

        <li>
{#            <a href="{% url 'all_products:category' link.pk %}"#}
                    {% if link.is_active == True %}
                        {% if request.resolver_math.kwargs.pk == link.pk %} class="active" {% endif %}> {{ link.name }}
                    {% else %}
                        {{ hidden }}
                    {% endif %}
            </a>
        </li>

        <li>
{#            <a hidden href="{% url 'all_products:category' link.pk %}"></a>#}
        </li>

    {% endfor %}
</ul>